<div>
  <app-page-header title="Dashboard"/>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 grid-rows-1 md:gap-4 gap-2 mb-8">
    <div class="col-span-1">
      <app-stat-card title="TOTAL_LOANS_ISSUED" value="6700"/>
    </div>
    <div class="col-span-1">
      <app-stat-card title="TOTAL_LOANS_RECOVERED" value="910"/>
    </div>
    <div class="col-span-1">
      <app-stat-card title="TOTAL_AMOUNT_ISSUED" value="23,000,700"/>
    </div>
    <div class="col-span-1">
      <app-stat-card title="TOTAL_AMOUNT_RECOVERED" value="19,900,730"/>
    </div>
  </div>
  <div class="grid grid-cols-5  gap-6">
    <div class="col-span-5">
      <p class="section-title">{{ 'LOANS_BY_TYPE' | translate }}</p>
      <app-loan-types-chart/>
    </div>
    <div class="col-span-5">
      <p class="section-title">{{ 'RECOVERED_LOANS_BY_MONTH' | translate }}</p>
      <app-monthly-recovered-chart/>
    </div>
  </div>
</div>
