<div>
  <div class="flex space-x-2 justify-end">
    <button [matMenuTriggerFor]="statusesMenu" mat-button>
      All Statuses
      <mat-icon iconPositionEnd class="material-symbols-rounded">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #statusesMenu>
      <div (click)="handleStatusSelected(null)" mat-menu-item>
        <mat-icon *ngIf="selectedStatus() == null else noCheck" class="material-symbols-outlined">check</mat-icon>
        <ng-template #noCheck>
          <span class="block w-6 h-6 bg-transparent"></span>
        </ng-template>
        <span class="capitalize flex px-2 space-x-2 items-center items">
          <span>All Statuses</span>
        </span>
      </div>
      <div (click)="handleStatusSelected(status)" *ngFor="let status of statuses" mat-menu-item>
        <mat-icon *ngIf="status == selectedStatus() else noCheck" class="material-symbols-outlined">check</mat-icon>
        <ng-template #noCheck>
          <span class="block w-6 h-6 bg-transparent"></span>
        </ng-template>
        <span class="capitalize flex px-2 space-x-2 items-center items">
          <span>{{ status | snakeToSpace }}</span>
        </span>
      </div>
    </mat-menu>
    <button [matMenuTriggerFor]="exportMenu" mat-button>
      <mat-icon class="material-symbols-rounded">inventory</mat-icon>
      Export Data
    </button>
    <mat-menu #exportMenu>
      <button (click)="exportToCSV()" mat-menu-item>To CSV</button>
    </mat-menu>
    <button (click)="handleAddLoan()" mat-flat-button>
      <mat-icon class="material-symbols-rounded">add</mat-icon>
      Add Loan
    </button>
  </div>
  <div class="w-full overflow-x-scroll lg:overflow-x-auto">
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #</th>
        <td mat-cell class="border-t-0 border-b-0" *matCellDef="let element">#{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="borrower">
        <th mat-header-cell *matHeaderCellDef> Borrower</th>
        <td mat-cell class="border-t-0 border-b-0"
            *matCellDef="let element"> {{ element.borrower.fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="loanAmount">
        <th mat-header-cell *matHeaderCellDef> Amount</th>
        <td mat-cell class="border-t-0 border-b-0" *matCellDef="let element"> {{ element.loanAmount }}</td>
      </ng-container>

      <ng-container matColumnDef="interestRate">
        <th mat-header-cell *matHeaderCellDef> Interest Rate</th>
        <td mat-cell class="border-t-0 border-b-0" *matCellDef="let element"> {{ element.interestRate }}</td>
      </ng-container>

      <ng-container matColumnDef="outstandingBalance">
        <th mat-header-cell *matHeaderCellDef> Balance</th>
        <td mat-cell class="border-t-0 border-b-0" *matCellDef="let element"> {{ element.outstandingBalance }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell class="border-t-0 border-b-0" *matCellDef="let element">
          <app-loan-status-badge [status]="element.status"/>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="handleSelected(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <div class="w-full flex items-center flex-col justify-center h-80">
            <span class="material-symbols-rounded text-stone-400 text-7xl">data_alert</span>
            <p class="text-lg mb-0">No loan records found</p>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <app-drawer (closeDrawer)="handleDrawerClose()" [title]="'Loan #' + (selectedItem | async)?.id"
              [open]="!!(selectedItem | async)">
    <app-loan-details (onEditForm)="handleFormEditing($event)" [loan]="(selectedItem | async)"/>
  </app-drawer>
</div>
