<div
  class="bg-slate-100 min-h-screen w-full mx-auto flex justify-center items-center"
>
  <div class="w-4/12">

    <mat-card appearance="outlined" class="overflow-hidden">
      <div class="h-16">
        <app-form-loading-bar *ngIf="isLoading$ | async"/>
      </div>
      <mat-card-content>
        <div class="pt-2">
          <div class="mb-4">
            <app-logo/>
          </div>
          <div class="mb-12">
            <h3 class="font-semibold text-2xl">{{ 'AUTH_SIGN_IN' | translate }}</h3>
            <p>{{ 'AUTH_CONTINUE_TO' | translate }} LoanRecovery</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-full mb-4" appearance="outline">
              <mat-label>{{ 'EMAIL' | translate }}</mat-label>
              <input type="email" autocomplete="on" formControlName="email" matInput/>
              <mat-error>{{ formErrors['email'] | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full mb-4" appearance="outline">
              <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
              <input autocomplete="on" type="password" formControlName="password" matInput/>
              <mat-error>{{ formErrors['password'] | translate }}</mat-error>
            </mat-form-field>
            <div class="flex-1 items-end justify-end mt-12 space-x-2">
              <a mat-button routerLink="/register">{{ 'AUTH_CREATE_ACCOUNT' | translate }}</a>
              <button class="float-right" mat-flat-button>{{ 'AUTH_LOGIN' | translate }}</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
